.extra-margin {
    margin-top: 35px;
}

.icon-size {
    font-size: 8em;
}

.welcome-text {
    font-size: 3em;
    margin: 0px;
}

.welcome {
    margin-top: 85px;
}

.welcome a {
    color: black;
}